body {
    background-color: #F1F7E7;
   }
   hr{
    border-width: 5px;  
    border-color: #E2C2B9;
    border-style: none;
    border-top-style: dotted;
       width: 5%;
   }
 h1 {
     color: #A45D5D;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 h3{
     color: #1E3163;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }